    <div class="modal-header">
        <h4 class="modal-title"><span class="fa fa-barcode"></span> Selecione um Produto </h4>
        
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-exclamation-triangle pull-left" style="font-size: 20px;"></i>
                    {{vm.FormMessage}}
                </div>
            </div>

        </div>
        <!--<div class="row row white-bg dashboard-header">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" name="forms.cliente" ng-enter="vm.buscar()" ng-submit="vm.buscar()" role="form" id="form" autocomplete="off" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="NmProduto" id="NmProduto" ng-model="vm.busca.NmProduto " maxlength="100"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="IdProduto" id="IdProduto" ng-model="vm.busca.IdProduto" ></div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right" ng-click="vm.buscar()"><span class="glyphicon glyphicon-zoom-in"> </span> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
        <div class="row white-bg dashboard-header" >
            <div class="row">
                <div class="col-lg-12">
                   
                    <style>
                        tr:hover {
                            background:#FFF8DC
                        }
                    </style>

                    <table class="table" ng-table="vm.produtos" show-filter="true">
                        <tr ng-repeat="item in $data" ng-click="vm.selecionar(item)" style="cursor:pointer">
                            <td> <img src="http://www.boxmineiro.com.br/img/cardapio/tropeiro.png" style="width:150px; height:100px;" /> </td>
                            <td style="width:30px" title="'Código'" filter="{ IdProduto: 'text'}" sortable="'IdProduto'">{{ item.IdProduto }} </td>
                            <td title="'Nome'" filter="{ NmProduto: 'text'}" sortable="'NmProduto'">
                                <h4>  {{ item.NmProduto }} </h4>
                                {{ item.Descricao }}
                            </td>
                            <td title="'Valor'" filter="{ Valor: 'text'}" sortable="'Valor'">{{ item.Valor | currency:'' }} </td>

                            <td>
                                <a class="btn btn-xs btn-white" ng-click="vm.selecionar(item)">
                                    <i class="glyphicon glyphicon-ok-sign"></i> Selecionar
                                </a>
                            </td>
                        </tr>
                    </table>


                </div>
            </div>
            <div class="row" ng-if="vm.produtos.length == 0">
                <div class="col-lg-12">
                    <div class="alert alert-info">
                       Nenhum resultado encontrado para a busca.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove-circle"></span> Fechar</button>
    </div>
