
  

    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Seja Bem Vindo</h2>

                <p>

                </p>

                <p>
                </p>

                <p>
                </p>

                <p>
                </p>

            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form name="frm" id="frm" >
                        <div class="form-group">
                            <input type="text" name="login" id="login" ng-model="vm.user.Login" class="form-control" placeholder="Usuário" required>
                        </div>
                        <div class="form-group">
                            <input type="password"  name="login" id="login" ng-model="vm.user.Senha"  class="form-control" placeholder="Senha" required="">
                        </div>
                        <button ng-click="vm.login()" class="btn btn-primary block full-width m-b"><span class="glyphicon glyphicon-log-out"></span> Entrar</button>

                        <a href="#">
                            <small>Esqueceu Senha?</small>
                        </a>
                        <!--
                        <p class="text-muted text-center">
                            <small>Do not have an account?</small>
                        </p>-->
                        <!--  <a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a> -->
                    </form>
                    <!--  <p class="m-t">
                        <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small>
                    </p>-->
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                Copyright Genialsoft Tecnologia da Informação
            </div>
            <div class="col-md-6 text-right">
                <small>© 2011-2016</small>
            </div>
        </div>
    </div>

