 <div class="modal-header">
    <h4 class="modal-title">Sorteio </h4>
    <small class="font-bold"></small>
</div>
<div class="modal-body">
        <div class="row" ng-if="vm.msgalert.length>0">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Atenção</strong> {{ vm.msgalert }}
                </div>
            </div>
        </div>
        <div class="row">
                <form id="frm" name="frm" ng-submit="submitForm(frm.$valid)" novalidate>
                    
                    <input type="hidden" id="IdGrupoProduto" name="IdGrupoProduto" ng-model="vm.GrupoProduto.IdGrupoProduto" />

                    <div class="col-md-8">
                        <div class="form-group" show-errors>
                            <label class="control-label">Descrição * </label>
                            <input type="text" id="Descricao" name="Descricao" class="form-control" required ng-model="vm.GrupoProduto.Descricao" />
                        </div>
                    </div>
                </form>
        </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-white" ng-click="vm.fechar()"><span class="fa fa-times-circle-o"></span> Fechar</button>
    <button type="button" class="btn btn-primary pull-right" ng-click="vm.salvar()"><span class="fa fa-save"></span> Salvar</button>
</div>