 <div class="modal-header">
    <h4 class="modal-title">Visualziar - Sorteio - {{ vm.sorteio.IdSorteio  }}</h4>
    <small class="font-bold"></small>
</div>
 <div class="modal-body">

     <div class="row">

         <table class="table table-hover">
             <tbody>
                 <tr>
                     <th style="width:10%">Nome:</th>
                     <td>{{ vm.sorteio.Nome  }}</td>
                 </tr>
                 <tr>
                     <th style="width:20%">Data Criação:</th>
                     <td>{{ vm.sorteio.DataCriacao | date: 'dd/MM/yyyy'   }}</td>
                 </tr>
                 <tr>
                     <th style="width:20%">Ganahdores:</th>
                     <td>{{ vm.sorteio.NumeroGanhadores  }}  </td>
                 </tr>

                 <tr>
                     <th style="width:20%">Situação:</th>
                     <td>{{ vm.sorteio.Situacao  }}  </td>
                 </tr>
                 <tr>
                     <th style="width:20%">Dezenas Sorteadas:</th>
                     <td>{{ vm.sorteio.DezenasSorteadas  }}  </td>
                 </tr>
             </tbody>
         </table>
     </div>


     <uib-tabset>
         <uib-tab>
             <uib-tab-heading>
                 <span class="fa fa-gamepad"></span> Jogos
             </uib-tab-heading>

             <div class="panel-body">
                

                 <div class="row">
                     <table class="table table-striped" ng-table="vm.jogos" show-filter="true">
                         <tr ng-repeat="item in $data">
                             <td title="'IdJogo'" style="width:5%" filter="{ IdJogo: 'text'}" sortable="'IdJogo'">{{ item.IdJogo  }} </td>
                             <td title="'Data'" filter="{ Data: 'text'}" sortable="'Data'">{{ item.Data | date: 'dd/MM/yyyy hh:mm'  }} </td>
                             <td title="'Dezenas'" filter="{ Numeros: 'text'}" sortable="'Dezenas'">{{ item.Dezenas  }} </td>
                             <td title="'Situacao'" filter="{ Situacao: 'text'}" sortable="'Situacao'">{{ item.Situacao  }} </td>
                             <td title="'Tipo Prêmio'" filter="{ TipoPremio: 'text'}" sortable="'Dezenas'">{{ item.TipoPremio  }} </td>
                        </tr>
                     </table>
                 </div>

             </div>
         </uib-tab>

         <uib-tab>
             <uib-tab-heading>
                 <span class="fa fa-users"></span> Ganhadores
             </uib-tab-heading>

             <div class="panel-body">
                 <div class="row">
                     <table class="table table-striped" ng-table="vm.ganhadores" show-filter="true">
                         <tr ng-repeat="item in $data">
                             <td title="'IdJogo'" style="width:5%" filter="{ IdJogo: 'text'}" sortable="'IdJogo'">{{ item.IdJogo  }} </td>
                             <td title="'Data'" filter="{ Data: 'text'}" sortable="'Data'">{{ item.Data | date: 'dd/MM/yyyy hh:mm'  }} </td>
                             <td title="'Dezenas'" filter="{ Numeros: 'text'}" sortable="'Dezenas'">{{ item.Dezenas  }} </td>
                             <td title="'Situação'" filter="{ Situacao: 'text'}" sortable="'Situacao'">{{ item.Situacao  }} </td>
                             <td title="'Tipo Prêmio'" filter="{ TipoPremio: 'text'}" sortable="'Dezenas'">{{ item.TipoPremio  }} </td>
                         </tr>
                     </table>
                 </div>
             </div>
         </uib-tab>

     </uib-tabset>
    
 </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.fechar()"><span class="fa fa-times-circle-o"></span> Fechar</button>
    </div>