    <div class="modal-header">
        <h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Selecione</h4>
        
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" ng-if="vm.FormMessage.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-exclamation-triangle pull-left" style="font-size: 20px;"></i>
                    {{vm.FormMessage}}
                </div>
            </div>

        </div>
        <div class="row white-bg dashboard-header">
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" name="forms.cliente" ng-enter="vm.buscar()" ng-submit="vm.buscar()" role="form" id="form" autocomplete="off" novalidate>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nome</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="nome" id="nome" ng-model="vm.busca.nome" maxlength="100"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">CPF/CNPJ</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="cpfcnpj" id="cpfcnpj" ng-model="vm.busca.cpfcnpj" ></div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right" ng-click="vm.buscar()"><span class="glyphicon glyphicon-zoom-in"> </span> Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row white-bg dashboard-header"  ng-if="vm.pessoas.length > 0">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width:60%;">Nome</th>
                                <th style="width:20%;">CPF</th>
                                <th style="width:20%;">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.pessoas">
                                <td>{{ item.Nome }}</td>
                                <td>{{ item.CpfCnpj}}</td>
                                <td>
                                    <a class="btn btn-xs btn-white" ng-click="vm.selecionar(item)">
                                        <i class="glyphicon glyphicon-ok-sign"></i> Selecionar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row" ng-if="vm.pessoas.length == 0">
                <div class="col-lg-12">
                    <div class="alert alert-warning alert-dismissable">
                       Nenhum resultado encontrado para a busca.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="vm.cancel()"><span class="glyphicon glyphicon-remove-circle"></span> Fechar</button>
    </div>
